.me {
	width: 350px;
	height:150px
}

body{font-family: 'Roboto', sans-serif;
color:solid black;}

.navbar-default {
background-color: #000;
border-color: #000;
}


.navbar-default .navbar-brand {
    color: white; }

 h2{font size:1px;}