.me {
	width: 350px;
	height:150px
}

body{
	font-family: 'Markazi Text', serif;
color:solid black;
background-color: pink;
 }

.navbar-default {
background-color: #000;
border-color: #000;
}


.navbar-default .navbar-brand {
    color: white; }

.img-circle {width: 170px;
border-radius:20px;
}

h1{
	text-decoration: underline;
}

.header {
font-size: 70px;
}

.links {
	text-decoration: underline;
}
